:root {
  --background-color: #f0f0f0;
  --content-color: #111;
  --body-font-family: 'Open Sans', sans-serif;
}

body {
  background:var(--background-color);
  color: var(--content-color);
  font-family: var(--body-font-family);
  padding: 0;
}

h1 {
  font-weight: 400;
}

.content-wrapper {
  padding: 25px;
}

.paper-wrapper {
  padding: 30px;
}

.link-icon {
  color: inherit;
  text-decoration: none;
}

.text-field-inline {
  margin-right: 20px;
}

.login-form-wrapper {
  width: 100%;
  min-width: 300px;
  max-width: 360px;
}
