:root {
  --background-color: #e0e0ee;
  --content-color: #111;
  --body-font-family: 'Open Sans', sans-serif;
}

body {
  background:var(--background-color);
  color: var(--content-color);
  font-family: var(--body-font-family);
  padding: 20px;
}

h1 {
  font-weight: 400;
}
